.MA_margin_71{
    margin-bottom: 34px;
}
.MA_MarginBottom{
    margin-bottom: 5.10%;
}

.MA_form_padding{
    padding-right: 34px !important;
}

.MA-form-header {
    color: #000000;
    font-family: Almarai;
    font-size: 30px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 35px;
}