.ne-product-box{
    max-width: 452px;
    /* height: 564px; */
    background-color: var(--absolute-white);
    box-shadow: 0.3px 0.3px 6.4px 0px rgba(205, 202, 202, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 21.83px 25.83px 25px;
}
.ne-product-box .ne-box-text{
    margin-bottom: 36.25px;
}

.ne-product-box .ne-box-text .ne-product-img{
    width: 139.95px;
    padding-bottom: 10.45px;
}
.ne-product-box .ne-box-text .ne-title-1{
    padding-bottom: 7px;
    font-family: var(--almarai-family);
    font-size: 1rem;
    font-weight: var(--bold-weight);
    line-height: 17.86px;
    color: var(--pink-color);
}
.ne-product-box .ne-box-text .ne-title-2{
    padding-bottom: 8px;
    font-family: var(--almarai-family);
    font-size: 0.875rem;/* 14px */
    font-weight: var(--normal-weight);
    line-height: 15.62px; 
    color: var(--black);
}
.ne-product-box .ne-box-text .ne-title-3{
    font-family: var(--almarai-family);
    font-size: 0.875rem;/* 14px */
    font-weight: var(--normal-weight);
    line-height: 15.62px; 
    color: var(--dark-brown);

}


.ne-box-info .ne-brand-title{
    color: var(--dark-blue);
    font-size: 0.875rem;/* 14px */
    font-weight: var(--bold-weight);
    font-family: var(--almarai-family);
    line-height: 15.62px;
    margin-bottom: 12px;

}
.ne-box-info .ne-brand-title span{
    font-weight: var(--normal-weight);
    margin-right: 10px;
    color:var(--black);
    font-size: 0.875rem;/* 14px */
    line-height: 17.57px ;
}


.ne-product-box .ne-action{
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
    text-align: end;
}
.ne-product-box .ne-action .ne-edit-icon{
    cursor: pointer;
}