.MA_Delete_Popup {
    width: 400px;
    height: 282.43px;
    border-radius: 4px;
    background-color: var(--absolute-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 9px gainsboro;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

}

.MA_Delete_Popup .MA_box .MA_Allert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 27.11px;

}

.MA_Delete_Popup .MA_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 26.8px;
}

.MA_Delete_Popup .MA_box .MA_Allert .MA_content {
    width: 204.4px;
}

.MA_Delete_Popup .MA_box .MA_Allert .MA_content .MA_paragraph {
    text-align: center;
    color: var(--blue-color);
    font-family: var(--almarai-family);
    font-size: 1rem;
    font-weight: var(--bold-weight);
    line-height: 17.6px;
    letter-spacing: -3%;
    margin: 7px;
}

.MA_Delete_Popup .MA_box .MA_btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.MA_Delete_Popup .MA_box .MA_btns .MA_btn {
    width: 5.65rem;
    height: 36.15px;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--almarai-family);
    font-weight: var(--bold-weight);
    line-height: 16px;
    letter-spacing: -3%;
    border-radius: 3.22px;
    cursor: pointer;
}

.MA_Delete_Popup .MA_box .MA_btns .MA_red {
    background-color: var(--red-color);
    color: var(--absolute-white);
    border: 1px solid var(--red-color);
}

.MA_Delete_Popup .MA_box .MA_btns .MA_gray {
    background-color: var(--light-gray);
    color: var(--dark-gray);
    border: 1px solid var(--light-gray);
}
