.MA_cards_withCircleImage{
    width:21rem;
    height: 248.05px;
    padding: 2rem 2.25rem;
    color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    font-family:var( --almarai-family) !important;
}

.MA_cards_withCircleImage .box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.MA_cards_withCircleImage .box1 p{
   font-weight: 700;
   font-size: 1.98rem;
   line-height: 1.98rem;
   font-family:var( --almarai-family);

}
.MA_cards_withCircleImage .box1 .MA_cards_withCircleImage_img{
   height: 38.78px;

}
.MA_cards_withCircleImage .box2{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
    justify-content: flex-end;

    position: relative;
}
.MA_cards_withCircleImage .box2 .all{
    position: absolute;
  
}
.MA_cards_withCircleImage .box2  img{
    border-radius: 50%;
    width: 4rem;
    
}
.MA_cards_withCircleImage .box2  .circle{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    position: relative;
}
.MA_cards_withCircleImage .box2  .circle span{
    position: absolute;
    top:20px;
    left: 20px;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center !important;
    color: #A4C241;
    
}