.MA_Note{
    font-family: var(--almarai-family);
    font-size: 14px;
    font-weight: var(--normal-weight);
    line-height: 14px;
    letter-spacing: -3%;
    color: rgba(99, 99, 99, 0.5);
    text-align: start;
}
/* .MA_TextArea{
    font-family: var(--roboto-family);
    font-size: 14px;
    font-weight: var(--normal-weight);
    line-height: 14px;
    text-align: start;
    color: rgba(0, 0, 0, 1);
}
 */