.HJ_Container_Footer_MainPage{
    margin-top: 261.8px;
}

.MA_footer {
    width: 60.72%;
    height: 41.75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5.86%;
    padding-left: 35.18px;
}

.MA_line {
    width:  75%;
    border: 1px solid rgba(33, 33, 33, 0.5);
}


.MA_footer .MA_info_Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.MA_footer .MA_info_Footer span {
    color: var(--blue-color);
    font-family: var(--Mulish-family);
    font-size: 1rem;
    font-weight: var(--normal-weight);
    line-height: 20.08px;
    text-wrap: nowrap;
}

.MA_footer .Info_Contacts ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
    margin-top: 20px;
}

.MA_footer .Info_Contacts ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-wrap: nowrap;
}

.MA_footer .MA_info_Footer .MA_IMG_focal {
    width: 70.25px;
    height: 18px;
}

.MA_footer .Info_Contacts .MA_emai,
.MA_footer .Info_Contacts .MA_call {
    color: var(--blue-color);
    font-family: var(--Typold-family);
    font-size: 1rem;
    line-height: 26px;
    letter-spacing: -0.18px;
    text-wrap: nowrap;
}

.MA_footer .Info_Contacts .MA_emai {
    font-weight: 300;
}

.MA_footer .Info_Contacts .MA_call {
    font-weight: 390;
}

ul {
    padding-left: 0rem !important; 
}

@media screen and (max-width: 1919px) {
    .MA_footer .Info_Contacts ul li {
        gap: 10px;
    }
    .MA_footer .Info_Contacts ul {
        gap: 5px;
    }
    .MA_footer {
        width: 50.72%;
        height: 41.75px;
        gap: 3%;
        padding-left: 0px; 
    }
    
    .MA_line {
        width: 100%;
    }
    
    
    .MA_footer .MA_info_Footer {
        gap: 8px;
    }
    
    .MA_footer .MA_info_Footer span {
        font-size: 1rem;
    }
    
}
@media screen and (max-width: 1280px) and (min-width:992px){
    .MA_footer .Info_Contacts ul li {
        gap: 8px;
    }
    .MA_footer .Info_Contacts ul {
        gap: 5px;
    }
    .MA_footer {
        display: flex;
        flex-wrap: wrap;
        width: 30.72%;
        height: 41.75px;
        gap: 5%;
        padding-left: 0px; 
    }
    
    .MA_line {
        width: 100%;
    }
    
    
    .MA_footer .MA_info_Footer {
        gap: 8px;
    }
    
    .MA_footer .MA_info_Footer span {
        font-size: 1rem;
    }
    
}