.evaluation-section {
    background-color: #FFFFFF;
    padding: 0 34px;
}

.evaluation-section .YS-form-header {
    color: #000000;
    font-family: Almarai;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 89px;
    margin-bottom: 36px;
}


.YS_margin_36{
    margin-bottom: 36px;
}
.YS_Margin_bottom{
    margin-bottom: 8.17%;
}